*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
ol,
dd{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
iframe {
    border: 1px solid var(--gray-3);
    width: 100%;
}
