

.custom-theme {

  body {
    background-color: #fafafa;
  }

  main {
    @include container-padding;
    @include container-width;
    background-color: var(--container-bg-color);

    header {
      padding: 10px 0;
    }

    section {

      padding: 20px 0;

      article {
        //border-top: 1px solid var(--color-primary-light-x);

        header {
          padding: 10px 0;
          h3 {
            color: var(--color-secondary);
          }
        }

        &#text__headings div {

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            text-align: center;
          }
        }

        footer {
          p {
            padding: 10px 0;
            text-align: center;
          }
        }

        &#media__images {
          .c3 {
            align-items: flex-start;

            &>div {
              max-width: calc(100% /3);
              overflow: hidden;
              display: flex;
              flex-flow: column;
              align-items: flex-start;
              justify-content: center;

              h4,
              p {
                font-weight:400;
                color: var(--gray-6);
                width: 100%;
                margin: 0;
                padding: 5px 0;
              }

              figure {
                margin: 0 auto;
              }

            }

            * {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .flex-test {
    text-align: center;

    article {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-light-x);
        margin: 1px;
        min-height: 100px;
      }

      card {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary-light-x);
        height: 100px;
        margin: 5px;


      }

      &:first-child {
        card {
          margin-left: 0;
        }
      }

      &:last-child & article {
        card {
          margin-right: 0;
        }
      }
    }
  }

}

// Grids
.g-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.g-1>* {
  background-color: var(--color-primary-light-x);
  padding: 1.5rem;
  border-radius: .5rem;
}

.g-2 {
  display: grid;
  @include mq('tablet-sm') {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
 }
  @include mq('desktop-sm') {
    grid-template-columns: repeat(auto-fill, minmax(calc(25% - 1rem), 1fr));
 }

  grid-gap: 1rem;
}

.g-2>* {
  background-color: var(--color-primary-light-x);
  padding: 1.5rem;
  border-radius: .5rem;
}

.g-3 {
  display: grid;
  @include mq('desktop-sm') {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
 }
  grid-gap: 1rem;
}

.colors-primary,
.colors-secondary {
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 1rem;

  &>div {
    background-color: #eee;
    padding: 1.5rem;
    border-radius: .5rem;

    &:nth-child(1) {
      grid-column: span 4;
      background-color: var(--color-primary);
      color: white;
    }

    &:nth-child(2) {
      color: white;
      background-color: var(--color-primary-dark);
    }

    &:nth-child(3) {
      color: white;
      background-color: var(--color-primary-dark-m);
    }

    &:nth-child(4) {
      color: white;
      background-color: var(--color-primary-dark-x);
    }

    &:nth-child(5) {
      color: white;
      background-color: var(--color-primary-dark-xx);
    }

    &:nth-child(6) {
      background-color: var(--color-primary-light);
    }

    &:nth-child(7) {
      background-color: var(--color-primary-light-m);
    }

    &:nth-child(8) {
      background-color: var(--color-primary-light-x);
    }

    &:nth-child(9) {
      background-color: var(--color-primary-light-xx);
    }

  }
}

.colors-secondary {
  &>div {

    &:nth-child(1) {
      grid-column: span 4;
      background-color: var(--color-secondary);
      color: white;
    }

    &:nth-child(2) {
      color: white;
      background-color: var(--color-secondary-dark);
    }

    &:nth-child(3) {
      color: white;
      background-color: var(--color-secondary-dark-m);
    }

    &:nth-child(4) {
      color: white;
      background-color: var(--color-secondary-dark-x);
    }

    &:nth-child(5) {
      color: white;
      background-color: var(--color-secondary-dark-xx);
    }

    &:nth-child(6) {
      background-color: var(--color-secondary-light);
    }

    &:nth-child(7) {
      background-color: var(--color-secondary-light-m);
    }

    &:nth-child(8) {
      background-color: var(--color-secondary-light-x);
    }

    &:nth-child(9) {
      background-color: var(--color-secondary-light-xx);
    }

  }

}

footer.main,colophon {
  display: flex;
  color: var(--white);
  background-color: var(--color-primary);
  padding: 30px;
}

 colophon {
  justify-content: center;
  color: var(--black);
  background-color: var(--color-primary-light-x);
  padding: 10px;
}