// Breakpoints
$breakpoint-tablet-min: 768px;
$breakpoint-desktop-sm-min: 1025px;
$breakpoint-desktop-md-min: 1200px;
$breakpoint-desktop-lg-min: 1440px;
$breakpoint-desktop-hd-min: 1920px;
$breakpoint-desktop-qhd-min: 2560px;
$breakpoint-desktop-4k-min: 3840px;

// Columns