// Spacing
:root {
  --content-max-width: 1400px;
}

// Breakpoints
$breakpoints: (
    "phone":        320px,
    "tablet-mini":  768px,
    "tablet":       1024px,
    "desktop-sm":   1025px,
    "desktop-md":   1200px,
    "desktop-lg":   1440px,
    "desktop-hd":   1920px,
    "desktop-qhd":  2560px,
    "desktop-4k":   3840px
);

body {
  &>*{
    max-width: calc(100% - 30px);
    margin: 0 auto;
  }
}


.flex-100 {
  flex-basis: 100% !important;
}
.flex-50 {
  flex-basis: 50% !important;
}
.flex-h-center {
  justify-content: center;
}
.flex-v-center {
  align-items: center;
}
.center {
  text-align: center;
}

.content-width {
  padding-left: calc((100% - var(--content-max-width)) / 2) !important;
  padding-right: calc((100% - var(--content-max-width)) / 2) !important;
}

.flex-wrap {
  flex-wrap: wrap;
}
