nav {
  &.main {
    //background:var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    @include mq('desktop-sm'){
      @include content-width;
    }

    a {
      color: var(--white);
      padding: 0 5px;
      &:hover {
        color: var(--color-secondary);
      }
    }

    .logo {
      display: block;
      align-items: center;
      margin-left: 15px;

      img {
        height: 35px;
        transition: transform .3s;
        @include mq('desktop-sm'){
          height: 60px;
        }
      }

      &:hover {
        img {
          transform: scale(1.02);
        }
      }
    }

    ul.menu {
      display: flex;
      margin-right: 15px;
    }
  }
}