nav {
  &.main {
    background:var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 15px;

    a {
      color: var(--white);
      padding: 0 5px;
      &:hover {
        color: var(--color-secondary);
      }
    }

    .logo {
      display: block;
      align-items: center;

      img {
        height: 27px;
        transition: transform .3s;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    ul.menu {
      display: flex;
    }
  }
}