@include mq('tablet-sm') {

  .hide-mobile {
    display: none !important;
  }

  .hide-desktop {
    display: inherit;
  }

}

@include mq('desktop-sm') {
  .hide-mobile {
    display: inherit;
  }

  .hide-desktop {
    display: none !important;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}