// Hide elements based on media size using classes:
// .hide-mobile
// .hide-desktop
//
@include mq('tablet-sm') {

  .hide-mobile {
    display: none !important;
  }

  .hide-desktop {
    display: inherit;
  }

}

@include mq('desktop-sm') {
  .hide-mobile {
    display: inherit;
  }

  .hide-desktop {
    display: none !important;
  }
}

// Set flex-wrap to wrap
.flex-wrap {
  flex-wrap: wrap;
}
