@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;700;800;900&family=Fira+Code:wght@300;600&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --font-family-primary: 'Open Sans', sans-serif;
    --font-family-secondary: 'Exo 2', sans-serif;
    --font-family-code: 'Fira Code', monospace;
}

body {
    font-family: var(--font-family-primary);
    font-size: 16px;
    font-weight: 300;
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    line-height: 1.2;
    margin: 5px 0;
}

h1,
h2 {
    color: var(--color-headers);
    margin: 10px 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 5px 0;
}

a {
    color: var(--color-text);

    &:hover {
        color: var(--color-text-hover);
    }
}

code {
    font-family: var(--font-family-code);
}